<<<<<<< HEAD
<% provide(:title, 'Contact') %>
=======
<% provide(:title, "Contact") %>
>>>>>>> 16f988531f3a2150200243474f6efa50ab16510d
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="https://railstutorial.jp/contact">contact page</a>.
</p>