<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<<<<<<< HEAD
<p>This will be a signup page for new users.</p>
=======
<p>This will be a signup page for new users.</p>
>>>>>>> 16f988531f3a2150200243474f6efa50ab16510d
